/*
.pageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.nameSelector {
  cursor: pointer;
  border: solid 1px var(--bs-body-bg);
}

.nameSelector:hover {
  border: solid 1px var(--bs-secondary);
}

.nameSelectorSelected {
  border: solid 1px var(--bs-secondary);
}

.saveButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.saveButton {
  width: 12rem;
  height: 3rem;
  background-color: rgba(100, 100, 100, 0.2);
  border-color: var(--bs-link-color);
  font-weight: 500;
  font-size: large;
  color: var(--bs-body-color);
  margin-left: 1rem;
  margin-top: 10rem;
}

.patreonNamePreviewContainer {
  display: flex;
  justify-content: center;
  font-size: xxx-large;
  margin-bottom: 3rem;
}

.patreonNamePreview {
  background-color: var(--bs-secondary-bg);
  padding: 1.5rem 4rem;
  border: 1px solid var(--bs-tertiary-bg);
}

.patreonColorCustomizationText {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.patreonColorLight {
  display: flex;
  justify-content: center;
  background-color: #232323;
}

.patreonColorDark {
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.patreonColorContainer {
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
  padding: 0;
}

.preferencesContainer {
  margin-left: 3rem;
}

.displayPreferencesText {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.preferenceContainer {
  display: flex;
  justify-content: flex-start;
}

.preference {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin-bottom: 1rem;
}

.preferenceLabel {
  margin-left: 10px;
  align-self: center;
  white-space: nowrap;
}

.matchText {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.linkPatreonButtonContainer {
  display: flex;
  justify-content: center;
}

.flavourText {
}

@media screen and (max-width: 991.98px) {
  .saveButton {
    margin-top: 1rem;
  }

  .flavourText {
    display: none;
  }

  .saveButtonContainer {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.saveButton:hover {
  background-color: var(--bs-link-color);
  border-color: var(--bs-link-color);
}
*/
