.contactFormContainer {
    margin-top: 5rem;
}

.contactForm {
    text-align: center;
    align-items: center;
}

.contactFormImage {
    display: flex;
    justify-content: flex-end;
    margin-top: -7rem;
}
