.card {
    min-width: 32rem;
    margin: 0.5rem;
    white-space: nowrap;
    color: var(--color-text);
    background-color: var(--color-secondary);
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--color-secondary);
}

.cardHeader {
    background-color: var(--color-secondary);
}

.cardBody {
    background-color: var(--color-bg);
    padding: 0.6rem;
}

.timeUser {
    display: flex;
}

.filter {
    display: flex;
    margin-bottom: 1rem;
    width: 40%;
}

.image {
    float: left;
    min-width: 100px;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.backupImage {
    display: flex;
    align-items: center;
    min-height: 142px;
}

.userLink {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.hiddenLeaderboardRow {
    display: none;
}

@media screen and (min-width: 0px) {
    .timeUser {
        padding-right: 0.5rem;
    }

    .cardBody {
        padding: 0.2rem;
    }

    .card {
        min-width: 20rem;
    }
}

@media screen and (min-width: 576px) {
    .cardBody {
        padding: 0.5rem;
    }

    .timeUser {
        padding-right: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    .cardBody {
        padding: 0.5rem;
    }

    .timeUser {
        padding-right: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .cardBody {
        padding: 0.5rem 1rem;
    }

    .timeUser {
        padding-right: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .filter {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .filter {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .filter {
        width: 100%;
    }
    .image {
        display: none;
    }
}
