/*

.submitEventButton { // Send-marathon-data
    width: 100%;
    height: 3rem;
    background-color: rgba(100, 100, 100, 0.2);
    border-color: var(--bs-link-color);
    font-weight: 500;
    color: var(--bs-body-color);
}

.submitEventButton:hover {
    background-color: var(--bs-link-color);
    border-color: var(--bs-link-color);
}

.logoMedia {
    margin-left: 5rem;
}

.runPreviewTitle {
    text-align: center;
    margin-left: 0;
    font-size: large;
}

.runPreviewInfo {
    margin-bottom: 0;
    margin-right: 0;
    text-align: center;
    font-size: smaller;
}

@media screen and (max-width: 1199.98px) {
    .dataContainerBottom {
        margin-top: 2rem;
    }

    .flexLarge {
        display: revert;
    }

    .logoMedia {
        margin-left: 0;
    }
}

@media screen and (min-width: 576px) {
    .dataContainer {
    }
}
*/
