.downloadButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo {
    margin-bottom: 1rem;
}

.logoContainer {
    height: 9rem;
}

.options {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-bottom: 0.5rem;
}

.optionLabel {
    margin-left: 10px;
    align-self: center;
    white-space: nowrap;
}

.downloadButtonContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

.downloadButtonSingle {
    display: flex;
    align-items: center;
    justify-content: center;
}
