/*
.paginationWrapper {
  display: flex;
  justify-content: center;
}

.card {
  margin-bottom: 1rem;
}

.optional {
}

@media screen and (max-width: 667.98px) {
  .optional {
    display: none;
  }
}
*/
