.suggestions {
  border-color: rgba(0, 128, 0, .5);
  right: -70px;

  li {
    font-size: 0.9rem;
    padding: 0.05rem;
    font-weight: 500;
  }

  &Title {
    font-size: x-large;
  }

  &Active,
  li:hover {
    --bs-link-color: #fff;
    --bs-link-color-rgb: #fff;
    --bs-link-hover-color-rgb: #fff;
    background: linear-gradient(90deg, green 0%, hsla(0, 0%, 98%, 1) 200%);
    color: #fff;
    cursor: pointer;
    font-weight: 700;
  }
}

@media screen and (min-width: 992px) {

  .suggestions {
    max-height: 800px;
    width: 900px;
    background-color: var(--bs-secondary-bg);
    top: 105%;
  }

  .suggestionLeft {
    border-left: thin solid rgba(0, 128, 0, 0.3);
  }
}

@media screen and (max-width: 1199.98px) {
  .suggestions {
    width: 600px;
    right: 0;
  }
}

@media screen and (max-width: 991.98px) {

  .suggestions {
    width: revert;
    margin: 1rem 0;
    background-color: var(--bs-tertiary-bg);
  }
}
