/*
.navbar {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
}

.navbar .navbarLogo {
    color: var(--bs-link-color);
}

.navbar .nav .navLink {
    color: var(--bs-body-color);
}

.space {
    text-decoration: none !important;
}
*/
