.twitch {
    --bs-btn-bg:#9147ff;
    --bs-btn-border-color:#9147ff;
    --bs-btn-hover-bg:#772ce8;
    --bs-btn-active-bg: #772ce8;
    --bs-btn-hover-border-color:#772ce8;
    --bs-btn-active-border-color:#772ce8;
}

.icon {
    float: left;
    display: inline;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.icon:hover {
    cursor: pointer;
}

.name {
    float: left;
    width: 49%;
    padding-top: 0.3rem;
    color: var(--bs-link-color);
}

@media (max-width: 991.98px) {
    .userMenu {
        margin-top: 1rem;
    }

    .name {
        display: revert;
    }
}

@media (max-width: 1199.98px) {
    .name {
        display: none;
    }
}

@media (min-width: 992px) {
    .userMenu {
        margin-left: 1rem;
    }
}
