// Theme colors "light"
$primary: #007c00;
$secondary: #b29312;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary, // Todo -> Check light color gold #a3850e
);

// Body
$body-color:                        #000;
$body-bg:                           #fbfbfb;
$body-secondary-bg:                 #eee;
$body-tertiary-bg:                  #ddd;

// Links
$link-decoration:                   none;

// Typography
$font-size-base:                    1rem;
$lead-font-size:                    $font-size-base * 1.2;

// Buttons
$btn-border-width:                  2px;

// Forms
$input-bg:                          var(--bs-tertiary-bg);
$input-border-color:                var(--bs-secondary-bg);

// Border
$border-color:                      #b2b2b2;

// Table
$table-striped-bg:                  var(--bs-secondary-bg);
$table-border-color:                var(--bs-tertiary-bg);




/** Theme colors dark */

// Body
$body-color-dark:                   #ccc;
$body-bg-dark:                      #131313;
$body-secondary-bg-dark:            #232323;
$body-tertiary-bg-dark:             #343434;

// Links
$link-color-dark:                   #27a11b;

// Border
$border-color-dark:                 #4d4d4d;
