footer {
  margin-top: 30px;
  padding-top: 130px;

  background-image: url('../../public/race-bg.svg');
  background-repeat: repeat-x;
  background-size: auto 130px;
  background-color: #111;
}

.footer-copyright {
  border-color: #AAB9A8;
}
