/*.scroll-bar {
    width: 100%;
    height: 3rem;
    overflow: hidden;
    white-space: nowrap;
    border-top: solid 1px var(--bs-secondary);
    border-bottom: solid 1px var(--bs-secondary);
    background: var(--bs-tertiary-bg);
}

.scroll-bar div {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 3rem;
    font-size: 1.2rem;
    animation: scroll linear infinite;
}*/

/*@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}*/

/*a {
    outline: none;
    text-decoration: none !important;
    padding: 2px 1px 0;
}*/

/*a:link {
    color: var(--bs-link-color);
    text-decoration: none !important;
    outline: none;
}*/

/*a:visited {
    color: var(--bs-link-color);
    text-decoration: none !important;
}*/

/*a:active { //ToDo: Dropped active state -> not needed
    color: var(--bs-link-hover-color);
    text-decoration: #fafafa;
}*/

/*a:focus { //ToDo: Dropped focus state -> not needed
    color: var(--bs-link-hover-color) !important;
    text-decoration: revert !important;
}*/

/*a:hover {
    color: var(--bs-link-hover-color) !important;
    text-decoration: revert !important;
}*/


// Nav-Tabs
/*.nav-tabs {
    padding-top: 1rem;
    border-color: var(--bs-secondary-bg);
    border-width: 1px;

    .nav-link {
        color: var(--bs-body-color) !important;
        transition: none;
        background-color: var(--bs-secondary-bg);
        margin-left: 0.25rem;
    }

    .nav-link:hover {
        border-color: var(--bs-tertiary-bg);
        isolation: auto;
        color: yellow;
    }

    .nav-item.show .nav-link,
    .nav-link.active {
        background-color: var(--bs-body-bg);
        border: 2px solid var(--bs-tertiary-bg);
        border-bottom: transparent;
        color: black;
    }
}*/

// Forms
/*.with-filter {
    width: 66.6%;
}*/

/*select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
}*/

/*.form-select { // ToDo: Focus background has been dropped
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);

    &:active {
        background-color: var(--bs-secondary-bg);
        color: var(--bs-body-color);
    }

    &:focus {
        background-color: var(--bs-secondary-bg);
        color: var(--bs-body-color);
    }
}*/

/*.form-control {
    background-color: var(--bs-tertiary-bg);
    border-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);

    &:focus {
        background-color: var(--bs-tertiary-bg);
        border-color: var(--bs-secondary-bg);
        color: var(--bs-body-color);
    }
}*/

/*legend {
    float: none;
    padding: 1rem;
}*/

// Page-item
.page-item {
    /*  color: green !important;*/

    .page-link {
        color: var(--bs-link-color) !important;
        background-color: var(--bs-tertiary-bg);
        border-color: var(--bs-secondary-bg);
    }

    &.active {

        .page-link {
            background-color: green !important;
            border-color: var(--bs-secondary-bg) !important;
            color: white !important;
        }
    }
}

// Tables
.table {
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: var(--bs-secondary-bg);
    --bs-table-accent-bg: var(--bs-body-bg);
    --bs-table-hover-color: var(--bs-body-color);
    color: var(--bs-body-color);
    border-color: var(--bs-tertiary-bg);

    > :not(:first-child) {
        border-top: 2px solid var(--bs-tertiary-bg);
    }
}

// Cards
/*.card {
    background-color: var(--bs-secondary-bg);
}*/

// Accordion
.accordion-item {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
}

.accordion-button {
    background-color: var(--bs-tertiary-bg);
    color: var(--bs-body-color);

    &:after {
        background-image: var(--image-accordion-button);
    }

    &:not(.collapsed) {
        background-color: var(--bs-tertiary-bg);
        color: var(--bs-body-color);

        &:after {
            background-image: var(--image-accordion-button-collapse);
        }
    }

    &:focus {
        border-color: var(--bs-link-color);
        box-shadow: 0 0 0.25rem var(--bs-link-color);
    }
}

// Navbar
/*.navbar {

    .navbar-toggler {
        border-color: var(--bs-link-color);
        border-width: 1px;

        &:hover {
            background-color: var(--bs-link-color);
        }
    }

}*/

// Material symbols
.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
    justify-content: center;
    align-self: center;
    height: 100%;
    background-color: var(--bs-tertiary-bg);
    border: solid 3px;
    border-color: var(--bs-tertiary-bg);
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}

// Uploads
.upload-icon {
    background-color: var(--bs-secondary-bg);
    border: none;
    max-height: 100%;
    vertical-align: middle;
    padding: 0;
    text-decoration: none;

    &:hover {
        text-decoration: none !important;
    }
}

.upload-file {
    display: flex;
    background-color: revert;
    border: none;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
    font-size: 14rem;
    color: var(--bs-tertiary-bg);
    padding-bottom: 5rem;
}

.upload-succeeded {
    background-color: revert;
    border: none;
    cursor: revert;
    padding: 0;
    margin-right: 0.5rem;
    /*padding-left: -2rem;*/
}

// Dropdown
.dropdown-menu {
    background-color: var(--bs-tertiary-bg);
    color: var(--bs-link-color);
}

.dropdown-item {
    color: var(--bs-link-color);

    &:hover {
        color: var(--bs-link-hover-color);
        background-color: var(--bs-secondary-bg);
    }

    &:focus {
        color: var(--bs-link-hover-color);
        background-color: var(--bs-secondary-bg);
    }

    &:active {
        color: var(--bs-link-hover-color);
        background-color: var(--bs-secondary-bg);
    }
}

.dropdown-toggle:after {
    display: none;
}

// Sortable
.sortable {
    cursor: pointer;

    &:after {
        margin-left: 0.5rem;
    }

    &.active.asc:after {
        content: "▲";
    }

    &.active.asc:after {
        content: "▲";
    }

    &:not(.active):after {
        content: "⧎";
    }
}



// Nav-pills
.nav-pills {

    .nav-link {
        margin-bottom: 0.2rem;
        color: var(--bs-body-color);
        text-decoration: none !important;
        transition: none !important;
    }

    a.nav-link:hover {
        color: var(--bs-body-color) !important;
    }

    a.nav-link:focus {
        color: var(--bs-body-color) !important;
    }

    a.nav-link:hover:not(.active) {
        border: 1px solid;
        border-color: var(--bs-tertiary-bg);
    }

    a.nav-link:focus:not(.active) {
        border: 1px solid;
        border-color: var(--bs-tertiary-bg);
    }

    .nav-link:hover {
        color: var(--bs-body-color);
    }

    .nav-link:not(.active) {
        background-color: var(--bs-secondary-bg);
        border: 1px solid;
        color: var(--bs-body-color);
        border-color: var(--bs-secondary-bg);
    }

    .nav-link.active {
        background-color: var(--bs-body-bg);
        border: 2px solid;
        color: var(--bs-body-color);
        border-color: var(--bs-tertiary-bg);
    }
}





// Popover
.popover {
    color: var(--bs-body-color);
    margin-bottom: 0.35rem;
    border-color: var(--bs-tertiary-bg);
}

.popover-header {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
    border-color: var(--bs-tertiary-bg);
}

.popover-body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border-color: var(--bs-tertiary-bg);
}

.popover-arrow::after {
    border-top-color: var(--bs-tertiary-bg) !important;
}

.question-tooltip {
    float: right;
    display: flex;
}

.main-container {
    padding-bottom: 4rem;
}


@media screen and (max-width: 766px) {
    .main-container {
        padding-bottom: 10rem;
    }

    .with-filter {
        width: 100%;
    }

    .nav-tabs .nav-item {
        text-align: justify;
    }
}

.playtime-graph {
}

.flex-center {
    display: flex;
    justify-content: center;
}

.gametime-form-container {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.gametime-form-label {
    margin-right: 10px;
    align-self: center;
}

@media screen and (max-width: 993px) {
    .form-check-inline {
        display: revert !important;
    }

    .question-tooltip {
        display: none !important;
    }

    .playtime-graph {
        display: none !important;
    }
}

/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/

/* Firefox */
/*input[type="number"] {
    -moz-appearance: textfield;
}

abbr {
    text-decoration: none !important;
}*/

.form-select {
    cursor: pointer;
    /*box-shadow: none;*/
}

/*.form-select:hover { // ToDo: Dropped bg
    background-color: var(--bs-tertiary-bg);
}*/

/*.form-select:active {
    border-color: revert;
    box-shadow: none;
}

.form-select:focus {
    border-color: revert;
    box-shadow: none;
}*/

.normal-switch .react-switch-bg {
    background-color: var(--bs-tertiary-bg) !important;
}

.normal-switch .react-switch-bg:hover {
    background-color: var(--bs-link-hover-color) !important;
}

.link-without-style {
    color: inherit !important;
}

.link-without-style:hover {
    color: inherit !important;
    text-decoration: none !important;
}
