// Always stick footer to the bottom in case content is not high enough
body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

// Add custom container max-width
@media (min-width: 1600px) {
  .container {
    max-width: 1510px !important;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1640px !important;
  }
}

.patreon-scroll-bar {
  width: 100%;
  height: 3rem;
  overflow: hidden;
  white-space: nowrap;
  border-top: solid 1px var(--bs-secondary);
  border-bottom: solid 1px var(--bs-secondary);
  background: var(--bs-tertiary-bg);

  div {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 3rem;
    font-size: 1.2rem;
    animation: patreon-scroll linear infinite;
  }
}

@keyframes patreon-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// Resets
a {
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

abbr {
  text-decoration: none !important;
}

// Custom scrollbar styles
body {

  * {
    -ms-overflow-style: auto;
    scrollbar-color: var(--bs-tertiary-bg) var(--bs-secondary-bg);
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar-track {
    background-color: var(--bs-secondary-bg);
    border: 0 solid var(--bs-secondary-bg);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--bs-tertiary-bg);
    border: 0 solid var(--bs-secondary-bg);
    min-height: 2rem;
    border-radius: 0.625rem;
  }

  *::-webkit-scrollbar-corner {
    background-color: var(--bs-secondary-bg);
  }

  *::-webkit-scrollbar {
    width: 0.625rem;
    height: 0.625rem;
  }
}

.fs-smaller {
  font-size: smaller;
}

.fs-larger {
  font-size: larger;
}