// Bootstrap functions and mixins
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";

// Progress loader
@import "nprogress/nprogress.css";

// Global styles
@import "globals";

// Bootstrap framework
@import "bootstrap/bootstrap";

// Overrides
@import "overrides";

// Miscellaneous
@import "calendar-heatmap.min.css";
