// Theme colors "dark"

@include color-mode(dark) {
  $primary: #007c00;
  $secondary: #fdc544;

  $theme-colors: (
    "primary": #007c00,
    "secondary": #fdc544,
  );
}

// Settings for the `<body>` element.
$body-color-dark:                   #ccc;
$body-bg-dark:                      #131313;
$body-secondary-bg-dark:            #232323;
$body-tertiary-bg-dark:             #343434;

// Links
$link-color-dark:                   #27a11b;
