@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");

:root {
    --color-bg: #fbfbfb;
    --color-secondary: #eee;
    --color-tertiary: #ddd;
    --color-fg: #3d3d3d;
    --color-text: #000;
    --color-accent: #346751;
    --color-link: #007c00;
    --color-link-hover: #040;
    --color-negative: #ca0000;

    --color-positive-0: #65af65;
    --color-positive-1: #73b673;
    --color-positive-2: #81bd81;
    --color-positive-3: #8fc48f;
    --color-positive-4: #9dcb9d;
    --color-positive-5: #acd3ac;
    --color-positive-6: #badaba;
    --color-positive-7: #c8e1c8;
    --color-positive-8: #d6e8d6;
    --color-positive-9: #e4efe4;

    --color-split-active: lightblue;
    --color-gold: #a3850e;

    --color-border: rgba(0, 0, 0, 0.25);

    --color-contrast: #000;

    --image-nav-toggler: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --image-nav-toggler-hover: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

    --image-accordion-button: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --image-accordion-button-collapse: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='darkgreen'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

body[data-theme="dark"] {
    --color-bg: #131313;
    --color-secondary: #232323;
    --color-tertiary: #343434;
    --color-text: #ccc;
    --color-fg: #fafafa;
    --color-link: #27a11b;
    --color-link-hover: #339900;
    --color-negative: #ff4242;

    --color-positive-0: #217719;
    --color-positive-1: #207119;
    --color-positive-2: #1f6b18;
    --color-positive-3: #1f6518;
    --color-positive-4: #1e5f18;
    --color-positive-5: #1d5a17;
    --color-positive-6: #1c5417;
    --color-positive-7: #1c4e17;
    --color-positive-8: #1b4d17;
    --color-positive-9: #1b4816;
    --color-contrast: #fff;
    --color-gold: #fdc544;

    --color-split-active: darkblue;

    --color-border: rgba(204, 204, 204, 0.25);

    --image-nav-toggler: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --image-nav-toggler-hover: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --image-accordion-button: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --image-accordion-button-collapse: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='darkgreen'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    --bs-border-color: var(--color-border);
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0 0 15rem !important;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

@media (min-width: 1600px) {
    .container {
        max-width: 1510px !important;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 1640px !important;
    }
}

* {
    box-sizing: border-box;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; /* Set the fixed height of the footer here */
    background-color: var(--color-secondary);
    text-align: center;
    padding-bottom: 1rem;
}

.scroll-bar {
    width: 100%;
    height: 3rem;
    overflow: hidden;
    white-space: nowrap;
    border-top: solid 1px var(--color-gold);
    border-bottom: solid 1px var(--color-gold);
    background: var(--color-tertiary);
}

.scroll-bar div {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 3rem;
    font-size: 1.2rem;
    animation: scroll linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

a {
    outline: none;
    text-decoration: none !important;
    padding: 2px 1px 0;
}

a:link {
    color: var(--color-link);
    text-decoration: none !important;
    outline: none;
}

a:visited {
    color: var(--color-link);
    text-decoration: none !important;
}

a:active {
    color: var(--color-link-hover);
    text-decoration: #fafafa;
}

a:focus {
    color: var(--color-link-hover) !important;
    text-decoration: revert !important;
}

a:hover {
    color: var(--color-link-hover) !important;
    text-decoration: revert !important;
}

.nav-tabs {
    padding-top: 1rem;
    border-color: var(--color-secondary);
    border-width: 1px;
}

.nav-tabs .nav-link {
    color: var(--color-text) !important;
    transition: none;
    background-color: var(--color-secondary);
    margin-left: 0.25rem;
}

.nav-tabs .nav-link:hover {
    border-color: var(--color-tertiary);
    isolation: auto;
    color: yellow;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: var(--color-bg);
    border: 2px solid var(--color-tertiary);
    border-bottom: transparent;
    color: black;
}

.with-filter {
    width: 66.6%;
}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
}

.form-select {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.form-select:active {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.form-select:focus {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.form-control {
    background-color: var(--color-tertiary);
    border-color: var(--color-secondary);
    color: var(--color-text);
}

.form-control:focus {
    background-color: var(--color-tertiary);
    border-color: var(--color-secondary);
    color: var(--color-text);
}

.page-item .page-link {
    color: var(--color-link) !important;
    background-color: var(--color-tertiary);
    border-color: var(--color-secondary);
}

.page-item.active .page-link {
    background-color: green !important;
    border-color: var(--color-secondary) !important;
    color: white !important;
}

.table {
    --bs-table-striped-color: var(--color-text);
    --bs-table-striped-bg: var(--color-secondary);
    --bs-table-accent-bg: var(--color-bg);
    --bs-table-hover-color: var(--color-text);
    color: var(--color-text);
    border-color: var(--color-tertiary);
}

.table > :not(:first-child) {
    border-top: 2px solid var(--color-tertiary);
}

.card {
    background-color: var(--color-secondary);
}

.accordion-item {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.accordion-button {
    background-color: var(--color-tertiary);
    color: var(--color-text);
}

.accordion-button::after {
    background-image: var(--image-accordion-button);
}

.accordion-button:not(.collapsed) {
    background-color: var(--color-tertiary);
    color: var(--color-text);
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--image-accordion-button-collapse);
}

.accordion-button:focus {
    border-color: var(--color-link);
    box-shadow: 0 0 0.25rem var(--color-link);
}

/*.page-item {*/
/*  color: green !important;*/
/*}*/

.navbar .navbar-toggler {
    border-color: var(--color-link);
    border-width: 1px;
}

.navbar .navbar-toggler:hover {
    background-color: var(--color-link);
}

.navbar .navbar-toggler-icon {
    background-image: var(--image-nav-toggler);
}

.navbar .navbar-toggler:hover .navbar-toggler-icon {
    background-image: var(--image-nav-toggler-hover);
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
    justify-content: center;
    align-self: center;
    height: 100%;
    background-color: var(--color-tertiary);
    border: solid 3px;
    border-color: var(--color-tertiary);
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}

.upload-icon {
    background-color: var(--color-secondary);
    border: none;
    max-height: 100%;
    vertical-align: middle;
    padding: 0;
    text-decoration: none;
}

.upload-icon:hover {
    text-decoration: none !important;
}

.upload-file {
    display: flex;
    background-color: revert;
    border: none;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
    font-size: 14rem;
    color: var(--color-tertiary);
    padding-bottom: 5rem;
}

.upload-succeeded {
    background-color: revert;
    border: none;
    cursor: revert;
    padding: 0;
    margin-right: 0.5rem;
    /*padding-left: -2rem;*/
}

legend {
    float: none;
    padding: 1rem;
}

.dropdown-menu {
    background-color: var(--color-tertiary);
    color: var(--color-link);
}

.dropdown-item {
    color: var(--color-link);
}

.dropdown-item:hover {
    color: var(--color-link-hover);
    background-color: var(--color-secondary);
}

.dropdown-item:focus {
    color: var(--color-link-hover);
    background-color: var(--color-secondary);
}

.dropdown-item:active {
    color: var(--color-link-hover);
    background-color: var(--color-secondary);
}

.sortable {
    cursor: pointer;
}

.sortable:after {
    margin-left: 0.5rem;
}

.sortable:not(.active):after {
    content: "⧎";
}

.sortable.active.asc:after {
    content: "▲";
}

.sortable.active.desc:after {
    content: "▼";
}

.dropdown-toggle:after {
    display: none;
}

.nav-pills .nav-link {
    margin-bottom: 0.2rem;
    color: var(--color-text);
    text-decoration: none !important;
    transition: none !important;
}

.nav-pills a.nav-link:hover {
    color: var(--color-text) !important;
}

.nav-pills a.nav-link:focus {
    color: var(--color-text) !important;
}

.nav-pills a.nav-link:hover:not(.active) {
    border: 1px solid;
    border-color: var(--color-tertiary);
}

.nav-pills a.nav-link:focus:not(.active) {
    border: 1px solid;
    border-color: var(--color-tertiary);
}

.nav-pills .nav-link:hover {
    color: var(--color-text);
}

.nav-pills .nav-link:not(.active) {
    background-color: var(--color-secondary);
    border: 1px solid;
    color: var(--color-text);
    border-color: var(--color-secondary);
}

.nav-pills .nav-link.active {
    background-color: var(--color-bg);
    border: 2px solid;
    color: var(--color-text);
    border-color: var(--color-tertiary);
}

.popover {
    color: var(--color-text);
    margin-bottom: 0.35rem;
    border-color: var(--color-tertiary);
}

.popover-header {
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-color: var(--color-tertiary);
}

.popover-body {
    background-color: var(--color-bg);
    color: var(--color-text);
    border-color: var(--color-tertiary);
}

.popover-arrow::after {
    border-top-color: var(--color-tertiary) !important;
}

.question-tooltip {
    float: right;
    display: flex;
}

.main-container {
    padding-bottom: 4rem;
}

@media screen and (max-width: 766px) {
    .main-container {
        padding-bottom: 10rem;
    }

    .with-filter {
        width: 100%;
    }

    .nav-tabs .nav-item {
        text-align: justify;
    }
}

.playtime-graph {
}

.flex-center {
    display: flex;
    justify-content: center;
}

.gametime-form-container {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.gametime-form-label {
    margin-right: 10px;
    align-self: center;
}

@media screen and (max-width: 993px) {
    .form-check-inline {
        display: revert !important;
    }

    .question-tooltip {
        display: none !important;
    }

    .playtime-graph {
        display: none !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

abbr {
    text-decoration: none !important;
}

.form-select {
    cursor: pointer;
    box-shadow: none;
}

.form-select:hover {
    background-color: var(--color-tertiary);
}

.form-select:active {
    border-color: revert;
    box-shadow: none;
}

.form-select:focus {
    border-color: revert;
    box-shadow: none;
}

.normal-switch .react-switch-bg {
    background-color: var(--color-tertiary) !important;
}

.normal-switch .react-switch-bg:hover {
    background-color: var(--color-link-hover) !important;
}

.link-without-style {
    color: inherit !important;
}

.link-without-style:hover {
    color: inherit !important;
    text-decoration: none !important;
}
