.dragbox {
    background-color: var(--color-secondary);
    border-color: var(--color-text);
    color: var(--color-text);
    cursor: pointer;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

.uploadIcon {
    background-color: var(--color-secondary);
    border: none;
    max-height: 100%;
    position: center;
    padding: 0;
    text-decoration: none;
}

.uploadIcon:hover {
    text-decoration: none !important;
}

.uploadFile {
    display: flex !important;
    background-color: revert !important;
    border: none !important;
    justify-content: center !important;
    align-self: center !important;
    align-items: center !important;
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48 !important;
    font-size: 14rem !important;
    color: var(--color-tertiary) !important;
    padding-bottom: 5rem !important;
}

.uploadSucceeded {
    background-color: revert;
    border: none;
    cursor: revert;
    padding: 0;
    margin-right: 0.5rem;
    /*padding-left: -2rem;*/
}

@media screen and (max-width: 992px) {
    .title {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 766px) {
    .title {
        font-size: 1.4rem;
    }
}
