.navbar {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.navbar .navbarLogo {
    color: var(--color-link);
}

.navbar .nav .navLink {
    color: var(--color-text);
}

.space {
    text-decoration: none !important;
}
