.event-card {
    background-color: var(--bs-secondary-bg);
}

.event-card:hover {
    cursor: pointer;
    background-color: var(--bs-tertiary-bg) !important;

    .event-card-info {
        background-color: var(--bs-secondary-bg) !important;
    }
}

.event-card-info {
    background-color: var(--bs-tertiary-bg);
    border-radius: 0.5rem;
}

.event-filter {
    cursor: pointer;
}

.event-filter:hover {
    color: var(--bs-primary);
}

hr.event-filter-divider {
    width: 74%;
    color: var(--bs-secondary);
}

@media (min-width: 1200px) {
    .event-card {
        min-height: 13rem;
    }

    .event-card-row {
        width: 100%;
    }
}

@media (max-width: 2000px) {
    .event-card-row {
        margin-left: 0rem;
    }
}

@media (max-width: 1600px) {
    .event-card-row {
        margin-left: 1rem;
    }
}

@media (max-width: 1400px) {
    .event-card-row {
        margin-left: 1.5rem;
    }
}

@media (max-width: 1199px) {
    .event-card-row {
        margin-left: 0;
        width: 100%;
    }
}
