.category {
    margin-top: -0.2rem;
    font-style: italic;
    font-size: 87%;
    margin-left: 0.1rem;
}

.result {
    margin-top: -0.2rem;
    font-size: 87%;
    margin-left: 0.2rem;
}

.timer {
    font-weight: bold;
    font-family: var(--bs-font-monospace) !important;
    font-size: large;
}

.link {
    color: inherit;
    background-color: var(--bs-secondary-bg);
}

.link:hover {
    background-color: var(--bs-primary);
    text-decoration: none;
}

.bottomContainer {
    align-items: end;
}

.timerContainer {
    font-size: larger;
    display: flex;
}